name: Podman

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Go Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version: stable
      id: go

    - name: Clone the repository
      uses: actions/checkout@v4

    - name: Build
      run: make build

    - name: Check
      run: make check

    - name: Buildah Action
      id: build-image
      if: ${{ github.event.pull_request.head.repo.full_name == 'moov-io/fed' }}
      uses: redhat-actions/buildah-build@v2
      with:
        image: moov/fed
        tags: podman-${{ github.sha }}
        platforms: linux/amd64,linux/arm64
        containerfiles: |
          ./Dockerfile

    - name: Log in to the GitHub Container registry
      if: ${{ github.event.pull_request.head.repo.full_name == 'moov-io/fed' }}
      uses: redhat-actions/podman-login@v1
      with:
        registry: docker.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push to GitHub Container Repository
      if: ${{ github.event.pull_request.head.repo.full_name == 'moov-io/fed' }}
      id: push-to-ghcr
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build-image.outputs.image }}
        tags: ${{ steps.build-image.outputs.tags }}
        registry: docker.io
