name: Create Release

on:
  push:
    tags: [ "v*.*.*" ]

permissions:
  contents: write

jobs:
  testing:
    name: Testing
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version: stable
      id: go

    - name: Check out code
      uses: actions/checkout@v4

    - name: Check
      run: make check

  create_release:
    name: Create Release
    needs: [testing]
    runs-on: ubuntu-latest
    steps:
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        prerelease: true

    - name: Output Release URL File
      run: echo "${{ steps.create_release.outputs.upload_url }}" > release_url.txt

    - name: Save Release URL File for publish
      uses: actions/upload-artifact@v6
      with:
        name: release_url
        path: release_url.txt
        retention-days: 1

  publish:
    name: Publish
    needs: [testing, create_release]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version: stable
      id: go

    - name: Check out code
      uses: actions/checkout@v4

    - name: Load Release URL File from release job
      uses: actions/download-artifact@v7
      with:
        name: release_url
        path: release_url

    - name: Distribute
      run: make dist

    - name: Get Release File Name & Upload URL
      id: get_release_info
      shell: bash
      run: |
        value=`cat release_url/release_url.txt`
        echo ::set-output name=upload_url::$value
      env:
        TAG_REF_NAME: ${{ github.ref }}
        REPOSITORY_NAME: ${{ github.repository }}

    - name: Upload Linux Server Binary
      if: runner.os == 'Linux'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.get_release_info.outputs.upload_url }}
        asset_path: ./bin/fed-linux-amd64
        asset_name: fed-linux-amd64
        asset_content_type: application/octet-stream

    - name: Upload macOS Server Binary
      if: runner.os == 'macOS'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.get_release_info.outputs.upload_url }}
        asset_path: ./bin/fed-darwin-amd64
        asset_name: fed-darwin-amd64
        asset_content_type: application/octet-stream

    - name: Upload Windows Server Binary
      if: runner.os == 'Windows'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.get_release_info.outputs.upload_url }}
        asset_path: ./bin/fed.exe
        asset_name: fed.exe
        asset_content_type: application/octet-stream

  docker:
    name: Docker
    needs: [testing, create_release]
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Get version
      id: version
      run: echo "VERSION=$(grep -Eo '(v[0-9]+[\.][0-9]+[\.][0-9]+(-[a-zA-Z0-9]*)?)' version.go)" >> $GITHUB_ENV

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Login to Quay.io
      uses: docker/login-action@v3
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_USERNAME }}
        password: ${{ secrets.QUAY_PASSWORD }}

    - name: Build and push moov/fed
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          moov/fed:${{ env.VERSION }}
          moov/fed:latest

    - name: Build and push quay.io/moov/fed
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile-openshift
        platforms: linux/amd64,linux/arm64
        push: true
        build-args: VERSION=${{ env.VERSION }}
        tags: |
          quay.io/moov/fed:${{ env.VERSION }}
          quay.io/moov/fed:latest

    - name: Build and push moov/fedtest
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile-fedtest
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          moov/fedtest:${{ env.VERSION }}
          moov/fedtest:latest
